<ngx-spinner bdColor="rgba(51,51,51,0.2)" size="medium" color="#2d4bf6" type="ball-clip-rotate-pulse">
</ngx-spinner>
<div class="row">
  <div class="document-wrap col-md-12">
    <card cardTitle="AKACHAIN DOCUMENT">
      <div>
        <a (click)='downloadDGl()'>
            Akachain_Deployment_guideline.pdf 
        </a>
      </div>
      <br>
      <div>
        <a (click)='downloadCGl()'>
            Akachain_Chaincode_guideline.pdf 
        </a>
      </div>
    </card>
  </div>
</div>
<!-- <footer>chat box</footer> -->